<html ng-app="workoutlog">
<head>
<title>Workout Log</title>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
</head>
<body ng-controller="workCtrl">
	<div class="container text-center">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		        Workout Log
		      </a>
		      <p class="navbar-text navbar-rt=ight">Developer <a href="#" class="navbar-link">Fabiano Dolzanes</a></p>
		    </div>
		  </div>
		</nav>
		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12">
			</div>
			<div class="col-xs-12 col-md-12 col-sm-12">
				<form class="form-inline ">
					<div class="form-group">
					    <input type="number" class="form-control" id="exampleInputName2" ng-model="work.time" placeholder="Time">
					</div>
					<div class="form-group">
						<select ng-model="work.nome" class="form-control">
						    <option  value="">Select Option</option>
						    <option  value="Run">Run</option>
						    <option  value="Bike">Bike</option>
					        <option  value="Swimming">Swimming</option>
						</select>    
					</div>
					<div class="form-group">
						<md-datepicker ng-model="work.date" md-placeholder="Enter date"></md-datepicker>
	        			<button class="btn btn-primary" ng-click="adicionar(work)" ng-disabled="!work.date || !work.nome || !work.time ">Add</button>	
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-2 col-sm-12">
			</div>
			<div class="col-xs-12 col-md-8 col-sm-12">
				<table class="table table-hover">
				    <thead>
						<td><b>Tempo</b></td>
						<td><b>Tipo</b></td>
						<td><b>Data</b></td>
						<td><b></b></td>
					</thead>
					<tfoot> 
					  <tr align="center">
					  	<td colspan="4">{{ total }} hours of exercises.</td>
					  </tr>
					</tfoot>
					<tbody ng-repeat="work in works">
						<td>{{work.time}}</td>
						<td>{{work.nome}}</td>
						<td>{{work.date | date : "dd/MM/yyyy"}}</td>
						<td><button class="btn btn-danger" ng-click="remover($index)">Delete</button></td>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12 col-md-2 col-sm-12">
			</div>
		</div>
	</div>
<link rel="stylesheet" type="text/css" href="lib/css/style.css">
<link rel="stylesheet" type="text/css" href="lib/css/datepicker.css">
<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
<script type="text/javascript" src="lib/app/app.js"></script>
</body>
</html>
